@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */
.playwrite-cu-light {
  font-family: "Playwrite CU", cursive;
  font-weight: 100;
}

.playwrite-cu-regular {
  font-family: "Playwrite CU", cursive;
  font-weight: 200;
}

.playwrite-cu-bold {
  font-family: "Playwrite CU", cursive;
  font-weight: 400;
}
